

   

    <link href="styles/custom.css" rel="stylesheet" type="text/css" />
</head>
<body id="pageBody">

<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

    <div class="divPanel notop nobottom">
         

            <div class="row-fluid">
                <div class="span12">
                    <div id="contentInnerSeparator"></div>
                </div>
            </div>
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">

           
            <div class="row-fluid">
			<!--Edit Main Content Area here-->
                <div class="span8" id="divMain">

                    <h4>About Us</h4>
					<hr>
					<h5>Our Approach</h5>
                                                     
                    <p>

A Team of professional and highly capable people who better understand your needs and expectations as a customer and provided you the best and the safe and 
ontime delivery of your heartly collected goods and accessories. 
Pune is always commited to use finest and professional art of packaging goods and uses the quality packaging materials and move them 
to your desired destination door to door wherever you want it across the country, We have a strong and huge network of our branches and professional agents 
who work 24*7 for the safe, secure and ontime delivery of your goods 
										 
					
					<h3>Our Team</h3>
                    
			<div class="row-fluid">		
		        <div class="span3">                           
                    <img src="assets/ab1.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">   </div>          
                <div class="span9">            
                    <p>Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div>		 
            </div>
			
			<hr>
			
			<div class="row-fluid">		
		        <div class="span3">                           
                    <img src="assets/ab3.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">   </div>          
                <div class="span9">              
                    <p>Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div>		 
            </div>
			
			<hr>
			
			<div class="row-fluid">		
		        <div class="span3">                           
                    <img src="assets/ab4.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">   </div>          
                <div class="span9">              
                    <p>Lorem ipsum dolor sit amet, consectetueradipiscing elied diam nonummy nibh euisod tincidunt ut laoreet dolore magna aliquam erat volutpatorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div>		 
            </div>
			 
                </div>
				<!--End Main Content Area here-->
				
				<!--Edit Sidebar Content here-->
                <div class="span4 sidebar">

                    <div class="sidebox">
                        <h4 class="sidebox-title">Infrastructures :</h4>
                           
                    
                        
                          <p>&nbsp&nbsp&nbsp&nbspWe at Best Packers & Movers are having all the required infrastructure to meet all your packaging and moving needs.<br/>&nbsp&nbsp&nbsp&nbsp our own fleet of trucks & containerised trailors of all sizes including tempos, trucks, trailers and others to fulfill all types of customers requirements.<br/>&nbsp&nbsp&nbsp&nbsp For any season, we have complete arrangements either its Hot, Cold or Rainy but best packers & movers experts are always committed to provide our services on time.<br/>&nbsp&nbsp&nbsp&nbsp We have a team of highly dedicated and experienced professionals who will provide you the best of services in this industry.</p>
                          </ul>                 			

                   
				       	  <h4 class="sidebox-title">Our Skills</h4>				       
				        	
				            	<h5>Web Design ( 40% )</h5>
				            	<div class="progress progress-info">
                                <div class="bar" style="width: 20%"></div>
                                </div>				          	
				          	
				            	<h5>Wordpress ( 80% )</h5>
				            	<div class="progress progress-success">
                                <div class="bar" style="width: 40%"></div>
                                </div>				          	
				          	
				            	<h5>Branding ( 100% )</h5>
				            	<div class="progress progress-warning">
                                <div class="bar" style="width: 60%"></div>
                                </div>				          	
				          	
				            	<h5>SEO Optmization ( 60% )</h5>
				            	<div class="progress progress-danger">
                                <div class="bar" style="width: 80%"></div>
                                </div>         	
				      	
				   			
                    </div>
                    
                </div>
				<!--End Sidebar Content here-->
            </div>

            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>

    

<br /><br /><br />

<script src="scripts/jquery.min.js" type="text/javascript"></script> 
<script src="scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="scripts/default.js" type="text/javascript"></script>





</body>
</html>