﻿


<body id="pageBody">

<div id="divBoxed" class="container">

    <div class="transparent-bg" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;zoom: 1;"></div>

    <div class="divPanel notop nobottom" style="background-color:rgb(75, 75, 122);margin-top:-14px;">
            

            <div class="row-fluid">
            <div class="span12">

                <div id="headerSeparator"></div>

                <div class="camera_full_width">
                    <div id="camera_wrap">
                        <div data-src="./assets/slider-images/4.jpg" ><div class="camera_caption fadeFromBottom cap1">Add a slogan or feature here...</div></div>
						<div data-src="./assets/slider-images/1.jpg" ><div class="camera_caption fadeFromBottom cap2">Add a slogan or feature here...</div></div>
						<div data-src="./assets/slider-images/2.jpg" ></div>
                    </div>
                    <br style="clear:both"/><div style="margin-bottom:40px"></div>
                </div>               

                <div id="headerSeparator2"></div>

            </div>
        </div>
    </div>

    <div class="contentArea">

        <div class="divPanel notop page-content">
            

            <div class="row-fluid">
            <!--Edit Main Content Area here-->
                <div class="span12" id="divMain">
                    <h1>Welcome</h1>
                    				
					<p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong> Sed ipsum metus, pulvinar sed volutpat sit amet, fermentum in orci. Quisque vitae neque lectus, quis accumsan massa. Vivamus viverra orci eu dolor tristique sollicitudin. Duis sollicitudin laoreet tellus ac dictum. 
					Fusce suscipit lectus vel elit posuere volutpat. Morbi ornare eros ut magna ullamcorper feugiat. 
					Vivamus feugiat ligula vel nisi venenatis eleifend. Morbi accumsan rhoncus viverra. Integer orci nisi, 
					cursus sit amet luctus quis, dictum eget massa.</p>

                    <br />                   
                    <br />                 

	<div class="row-fluid">
    <div class="span3">
			<div class="box">
				<i class="icon-wrench"></i>
				<h4 class="title">Web Design</h4> <hr/>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
			</div>
	</div> 
		
	<div class="span3">
			<div class="box">
				<i class="icon-leaf"></i>
				<h4 class="title">Web Development</h4> <hr/>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
			</div>
	</div> 
		
	<div class="span3">
			<div class="box">
				<i class="icon-edit"></i>
				<h4 class="title">Custom Themes</h4> <hr/>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
			</div>
	</div> 
		
	<div class="span3">
			<div class="box">
				<i class="icon-signal"></i>
				<h4 class="title">SEO</h4> <hr/>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, sapien nec dignissim porta.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				</p>
			</div>
	</div>    </div>
                    

    <div class="row-fluid">
            <div class="span3">
                    <h5 class="text-info">Project 1</h5>
                    <img src="./assets/home1.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">                
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
            </div>
            <div class="span3">                
                    <h5 class="text-info">Project 2</h5>
                    <img src="./assets/home5.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">  
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
            </div>
            <div class="span3">                
                    <h5 class="text-info">Project 3</h5>
                    <img src="./assets/home3.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">  
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
            </div>
			<div class="span3">
                    <h5 class="text-info">Project 4</h5>
                    <img src="./assets/home4.jpg" class="img-polaroid" style="margin:5px 0px 15px;" alt="">                
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br /><a href="#">Read More &raquo;</a></p>
            </div>
    </div>  
    <hr>

    <!-- client start here -->
    <div class="row-fluid">
    <center><h4>OUR CLIENT</h4></center>
    <hr>
    <div class="inline ">
    <div class="span2">
       <img src="./assets/client-logos/wipro.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/infosys.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/ibm .png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/Vodafone.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/Reliance .png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/axis_bank .png" class="img-polaroid"  > 

       </div>
       
    </div>


    </div>


    <div class="row-fluid">
 <div  style="margin-top:20px;">
    <div class="span2">	
       <img src="./assets/client-logos/bajaj.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/idbi_bank_.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/icici.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/HPCL.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/hero.png" class="img-polaroid"  > 
       </div>
       <div class="span2"> 
       <img src="./assets/client-logos/Air_India_.png" class="img-polaroid"  > 
       </div>
       
    </div>
     </div>


<!-- client end here -->



                </div>
            <!--End Main Content-->
            </div>

            <div id="footerInnerSeparator"></div>
        </div>
    </div>

    <div id="footerOuterSeparator"></div>
    


    
<br /><br /><br />

<script src="scripts/jquery.min.js" type="text/javascript"></script> 
<script src="scripts/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="scripts/default.js" type="text/javascript"></script>


<script src="scripts/carousel/jquery.carouFredSel-6.2.0-packed.js" type="text/javascript"></script>
<script type="text/javascript">$('#list_photos').carouFredSel({ responsive: true, width: '100%', scroll: 2, items: {width: 320,visible: {min: 2, max: 6}} });</script>
<script src="scripts/camera/scripts/camera.min.js" type="text/javascript"></script>
<script src="scripts/easing/jquery.easing.1.3.js" type="text/javascript"></script>
<script type="text/javascript">function startCamera() {$('#camera_wrap').camera({ fx: 'scrollLeft', time: 2000, loader: 'none', playPause: false, navigation: true, height: '35%', pagination: true });}$(function(){startCamera()});</script>

